
.footer_copy {
    opacity: 0.5;
    padding-bottom: 1rem;
    text-align: center;
    /* centre le texte horizontalement */
    color: white;
    width: 100%;
    /* Pour que l'élément prend toute la largeur du footer */
    display: flex;
    justify-content: center;
    align-items: center;
    /*Centre verticalement (si nécessaire) */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre tous les enfants */
    justify-content: center;
    width: 100%;
    /* Assure que le footer prend toute la largeur */
    margin-top: 3rem;
    background-color: var(--primary-blue);
    padding: 10px 5%;
    overflow-x: hidden;
}

footer li {
    padding-top: 0.5rem;
    list-style: none;
    /* Supprime les puces de la liste  */
    display: inline-block;
    margin: 10px;
}

.contact_socials {
    display: flex;
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne sur petits écrans */
    justify-content: center;
    gap: 10px;
    /* Espacement entre les icônes */
}

@media (max-width: 570px) {

    footer {
        margin-top: 3rem;
        background-color: var(--primary-blue);
        text-align: center;
        padding: 0px;
        justify-content: space-between;
        align-items: center;
    }

    footer li {
        list-style: none;
        display: inline-block;
        margin: 7px;
        padding: 0.5rem 0 1rem 0;
    }
}

@media (max-width: 910px) {
    footer li {
        list-style: none;
        display: inline-block;
        margin: 4px;
        padding: 0.5rem 0 1rem 0;
    }
}

.contact_socials a {
    color: white;
    background-color: var(--primary-blue);
    padding: 10px;
    border-radius: 100px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_socials a:hover {
    background-color: white;
    color: var(--primary-orange);
}

.contact_socials li {
    display: inline-block;
    margin: 5px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

@media (max-width: 412px) {
    footer {
        padding: 10px 2%;
        /* Réduit encore plus le padding */
    }

    .contact_socials a {
        font-size: 20px;
        /* Réduit la taille des icônes */
        padding: 8px;
        /* Réduit l’espace autour des icônes */
    }

    .contact_socials li {
        margin: 3px;
        /* Réduit l’espace entre les icônes */
    }
}

@media (max-width: 300px) {
    footer {
        padding: 10px 1%;
        /* Encore plus petit sur les écrans très petits */
    }

    .contact_socials li {
        margin: 2px;
        /* Réduit encore plus l’espace entre les icônes */
    }

    .contact_socials a {
        font-size: 18px;
        /* Réduit encore la taille des icônes */
        padding: 6px;
    }
}


/* Ajoute un décalage progressif pour chaque élément */
.contact_socials li:nth-child(1) {
    transition-delay: 0.2s;
}

.contact_socials li:nth-child(2) {
    transition-delay: 0.4s;
}

.contact_socials li:nth-child(3) {
    transition-delay: 0.6s;
}

.contact_socials li:nth-child(4) {
    transition-delay: 0.8s;
}

.contact_socials li:nth-child(5) {
    transition-delay: 1s;
}

/* Quand la classe "visible" est ajoutée, applique l'animation */
.contact_socials.visible li {
    opacity: 1;
    transform: translateX(0);
}

.contact_input-div .error-txt {
    font-size: 14.5px;
    color: #FF8C00;
    text-align: left;
    margin: 5px 0 0 15px;
    font-style: italic;
    display: none;
}

.contact_input-div.error .error-txt {
    display: block;
}

.contact_input-div.error .contact_input {
    border-color: #FF8C00;
}