/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

/* css variables */
:root {
    /* Couleurs principales */
    /* --primary-orange: #FFA44D; */
    --primary-orange: #FF8C00;
    --primary-blue: #03678e;
    --primary-color: #4a4a4a;
    --primary-color-alt: #575757;
    --linear-gradient: linear-gradient(54deg,
            rgba(45, 45, 45, 0.95) 34%,
            rgba(45, 45, 45, 0.95));
    /* Couleurs des titres et du texte */
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    /* Couleurs de fond */
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    /* Couleur de bordure */
    --border-color: #f1f1f1;
    /* Polices */
    --roboto-slab: 'Roboto Slab', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;

    /* Tailles de police */
    --fs-h1: 2.75rem;
    --fs-h2: 2.75rem;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

/* ===== BASE ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;    /*La propriété définit le comportement du défilement */
    max-width: 100%;
    overflow-x: hidden;
}

body,
button,
input,
textarea {
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    font-family: var(--mono-font);
    font-weight: var(--bold);
}

h2 {
    color: var(--primary-blue)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.inter {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    width: 100%;
    margin: 12px 0;
    font-size: 1rem;          /* Taille de police (modifiable) */
    color: #2c2c2c;             /* Couleur du texte (gris foncé) */
    line-height: 1.5;   
  }
p {
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
}

textarea,
input {
    background: none;
    border: none;
    outline: none;
}


/* ===== Menu nav header ===== */

.header {
    position: fixed;
    height: 45px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0px 100px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 450px) {
    .header {
        height: 50px;
    }
}


.nav_list {
    display: flex;
    column-gap: 3.5rem;
}

.nav {
    height: 0.9rem;
    display: flex;
    align-items: flex-end;
}

.nav_link {
    color: #fff;
    font-size: 0.7rem;
    font-family: var(--mono-font);
    font-weight: var(--bold);
    text-transform: uppercase;
    transition: 0.7s;
    display: inline-block;
}

.nav_link:hover {
    color: var(--primary-orange);
}

.nav_close,
.nav_toggle {
    display: none;
}

.logo {
    color: #fff;
    font-family: var(--mono-font);
    font-size: var(--fs-h1);
}


.change-text {
    font-size: 1rem;
    color: #FF8C00;
    margin-bottom: 30px;
    margin-left: 2rem;
    letter-spacing: 2px;
}

.change-text h3 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center center -10px;
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
    transition: transform 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
    /* Applique la rotation */
    transition: transform 0.38s ease;
    /* Ajoute une transition fluide */
}

@media screen and (max-width: 480px) {
    .change-text {
        text-align: start;
        /* Aligne à gauche si souhaité      */
        margin-left: 10px;
        /* Décale légèrement vers la gauche */
    }
}

/* ===== Active Link ===== */
.active-link {
    /* opacity: 0.5; */
    color: var(--primary-orange);
}

.active-link::after {
    opacity: 1;

}

.navcontainer {
    max-width: 1140px;
    padding-left: 0.9rem;
    padding-right: 0rem;
}

/* Burger menu*/
.nav_menuBurger_list {
    column-gap: 3.5rem;
}

.nav_menuBurger_list a {
    padding: 10px 20px;
    display: none;
}

/* Positionnement du menu burger à droite test */
.burger-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    /* Masqué à droite hors de l'écran */
    height: 100%;
    width: 250px;
    /* Largeur du menu */
    z-index: 1000;
    background: #00bcd4;
    backdrop-filter: blur(15px);
    border-left: solid 1px var(--primary-blue);
    padding: 1rem;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease-in-out;
    /* Transition d'apparition */
}

.burger-menu.open {
    right: 0;
    /* Apparaît à l'écran depuis la droite */
}

/* Effet de décalage du contenu principal */
body.menu-open {
    transform: translateX(-250px);
    /* Déplace tout le contenu principal de 250px vers la gauche */
    transition: transform 0.5s ease-in-out;
    /* Animation fluide du décalage */
    overflow: hidden;
    /* Empêche le défilement de la page */
}

/* Optionnel : Griser l'arrière-plan */
body.menu-open::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Couche semi-transparente grise */
    z-index: 900;
    /* Derrière le menu mais au-dessus du contenu principal */
}

.burger-menu li {
    padding: 0.6rem;
    color: var(--primary-blue);

}

.burger-menu-button {
    position: fixed;
    right: 25px;
    top: 7px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1.9rem;
}

.burger-menu-button:hover {
    color: var(--primary-orange);
}

.nav_menuBurger_link {
    display: block;
    color: white;
    font-size: 0.7rem;
    font-family: var(--mono-font);
    font-weight: var(--bold);
    text-transform: uppercase;
    padding: 0.5rem 0;
    transition: 0.5s;
}

.nav_menuBurger_link:hover {
    background-color: var(--primary-blue);
    color: var(--primary-orange);
    position: relative;
    border-radius: 10px;
}

.header .img_logo {
    height: 50px;
    width: auto;
    max-height: 100%;
    border-radius: 100%;
}

.circle-image {
    float: right;
    border-radius: 30px;
    width: 300px;
    height: 380px;
    margin: 15px;
    object-fit: cover;
    border: 5px solid #3498db;
}

@media (max-width: 768px) {
    .circle-image {
        float: none; /* Enlève le flottement */
        display: block; /* Permet de centrer */
        margin: 20px auto; /* Centre horizontalement */
    }
}

/* S'assurer que l'élément ne se déplace pas hors de la vue */
[data-aos="fade-left"] {
    position: relative;
    left: 0;
    transform: translateX(0) !important;
}

@media (max-width: 910px) {

    [data-aos="fade-left"] {
        animation: none !important;
        /* Désactive fade-left */
        opacity: 1 !important;
        /* Assure que l'élément est visible */
        transform: translateY(0) !important;
        /* Applique fade-up */
    }

    /* Optionnel : appliquer fade-up sur les petits écrans */
    [data-aos="fade-left"]:not([data-aos="fade-up"]) {
        animation: fade-up 900ms ease-in-out;
    }

    /* Cache les liens de navigation sur les petits écrans */
    .nav_link {
        display: none;
    }

    /* Affiche le bouton de menu hamburger et ajuste sa marge */
    .burger-menu-button {
        display: block;
        margin-bottom: -0.7rem;
        /* margin-left: 10px; */
    }

    .nav_menuBurger_list a {
        display: block;
    }

    /* Stylise le logo sur les petits écrans */
    .img_logo {
        width: 7%;
        margin-left: -5.5rem;
    }

    .burger-menu {
        right: -100%;
        /* Hors de l'écran à droite */
        position: fixed;
        top: 0;
        height: 100%;
        /* Hauteur complète */
        width: 250px;
        /* Largeur du menu */
        z-index: 1000;
        /* S'assurer qu'il est derrière le bouton burger */
        background: #00bcd4;
        backdrop-filter: blur(15px);
        transition: right 0.5s ease-in-out;
    }

    .burger-menu.open {
        right: 0;
    }

    body.menu-open {
        margin-right: 0;
        /* Enlève tout espace à droite */
    }
}

/* ===== Home ===== */
.container {
    width: 100%;
    max-width: min(90%, 1100px);
    /* Adapte la largeur sans dépasser 1000px */
    margin: auto;
    padding-inline: 0.9rem;
}

.section {
    padding-top: 2rem;
    padding-bottom: 0rem;
    justify-content: center;
    position: relative;
    /* border: 1px solid red;   */
}
/* .main{
    border: 1px solid blue; 
} */


.grid {
    display: grid;
}

.section_title {
    font-size: var(--fs-h2);
    line-height: 1;
    font-weight: var(--medium);
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

@media screen and (max-width: 768px) {
    .section_title {
        font-size: calc(var(--fs-h2) * 0.8); /* Réduit la taille de 20% */
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .section_title {
        font-size: calc(var(--fs-h2) * 0.6);
        /* Réduit encore plus pour les très petits écrans */
        text-align: center;
    }
}

/* ===== Home bannière ===== */
.home_name,
.home_work,
.home_list,
.home_social-link {
    color: #fff;
    font-family: var(--mono-font);
}

.home_name {
    font-size: var(--fs-h1);
    line-height: 1em;
    margin: 0 0 0.2em;
}

@media screen and (max-width: 450px) {
    .home_name {
        padding-top: 0.5rem;
        /* Ajuste la marge supérieure selon tes besoins */
    }
}

.home {
    background-size: contain;
    padding-top: 5.5rem;
    margin-bottom: 3.5rem;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: var(--primary-blue);
}

.home_container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.home_img,
.home_data {
    z-index: 10;
}

.home_img {
    width: 80%;
    height: 350px;
    object-fit: cover;
    border-radius: 0.5rem;
    transform: translateY(3.5rem);
    box-shadow: 0 0 20px white;
    transition: filter 2s ease;
    /* Durée de la transition à 0.5 seconde */
    filter: grayscale(100%);
    /* Image en noir et blanc par défaut */
}


@media (max-width: 450px) {
    .home_container {
        margin-top: -20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        height: auto;
    }

    .home {
        margin-bottom: -5rem;
    }


    .home_img {
        width: 90%;
    }

    .home_container img {
        margin-bottom: 0;
        /* Un espacement entre l'image et le texte */
        max-width: 60%;
        /* Ajuste l'image pour qu'elle ne dépasse pas l'écran */
        height: 100%;

    }

    .home_name {
        margin-top: 18%;
    }

    .home_list {
        margin-bottom: 30%;
    }
}

.home_img:hover {
    filter: grayscale(0%);
    /* Restauration des couleurs au survol */
}

.home_work {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

.home_list dt {
    float: left;
    font-weight: bold;
    opacity: 0.4;
}

.home_list dd {
    padding-left: 6.3em;
}

.home_list dd:not(:last-child) {
    /*permet de cibler un élément qui est le dernier enfant de son parent. */
    margin-bottom: 0.95em;
}

.home_socials {
    margin: 2rem 0 2.2rem;
}

@media (max-width: 590px) {
    .home_socials {
        margin: 0.8rem 0 2rem;
    }
}

@media (max-width: 515px) {
    .home_socials {
        display: none;
    }
}


.home_social-link {
    font-size: 1.7rem;
    line-height: 1.36em;
    margin-right: 2rem;
    color: var(--primary-orange);
    opacity: 0.5;
    transition: 0.8s;
}

.home_social-link:hover {
    opacity: 1;
}
