/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

/* css variables */
:root{
    /* Couleurs principales */
    /* --primary-orange: #FFA44D; */
    --primary-orange:#FF8C00;
    --primary-blue: #03678e;
    --primary-color:#4a4a4a;
    --primary-color-alt:#575757;
    --linear-gradient: linear-gradient(
        54deg, 
        rgba(45, 45, 45, 0.95) 34%,
        rgba(45, 45, 45, 0.95) );
/* Couleurs des titres et du texte */
    --title-color:#4a4a4a;
    --text-color:#555;
    --text-color-alt:#999;
    /* Couleurs de fond */
    --bg-color:#fff; 
    --bg-color-alt: #e9ecef;
    /* Couleur de bordure */
    --border-color: #f1f1f1;
/* Polices */
--roboto-slab: 'Roboto Slab', serif;
--roboto-mono: 'Roboto Mono', monospace;

/* Tailles de police */
    --fs-h1: 2.75rem;
    --fs-h2: 2.75rem;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

/* ===== BASE ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;  /*La propriété définit le comportement du défilement */
}
body, button, input, textarea {
    font-family: var(--roboto-font);
    font-size: var(--fs-base);
}
body{
    
    background-color: var(--bg-color);
    color: var(--text-color);
    /* line-height: 1.5em; */
}
h1, h2, h3{
    font-family: var(--mono-font);
    font-weight: var(--bold);
}
h2{
    color: var(--primary-blue)
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}

button{
    border: solid 1px;
    border-color: rgb(96 96 96 );
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color:rgb(96 96 96 );
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
textarea, input{
    background: none;
    border: none;
    outline: none;
}
/* ===== Menu nav header ===== */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0px 100px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list{
    display: flex;
    column-gap: 3.5rem;
}
.nav{
    height: 0.9rem ;
    display: flex;
    align-items: flex-end;
}
.nav_link{
    color: #fff;
    font-size: 0.7rem;
    font-family: var(--mono-font);
    font-weight: var(--bold);
    text-transform: uppercase;
    transition: 0.7s;
}
.nav_link:hover{
    color: var(--primary-orange);
}
/* .nav_link::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -0.5rem;
    width: 7px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s;
}  */
.nav_close, 
.nav_toggle{
    display: none; 
}
.logo{
    color: #fff;
    font-family: var(--mono-font);
    font-size: var(--fs-h1);
}
/* ===== Active Link ===== */
.active-link{
    /* opacity: 0.5; */
    color: var(--primary-orange);
}
.active-link::after{
    opacity: 1;
    
}
.navcontainer{
    max-width: 1140px;
    padding-left: 0.9rem;
    padding-right: 0rem;
}

/* Burger menu */
.nav_menuBurger_list{
    column-gap: 3.5rem;
}
.nav_menuBurger_link{
    color: #fff;
    font-size: 0.7rem;
    font-family: var(--mono-font);
    font-weight: var(--bold);
    text-transform: uppercase;
    transition: 0.7s;
}
.nav_menuBurger_link:hover{
    color: var(--primary-orange);
}
.burger-menu{
    display: none;
    height: 0;
    position: absolute;
    right: 1rem;
    top: 58px;
    width: 210px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(15px);
    border-radius: 5px; 
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger-menu.open{
    height: auto;
}
.burger-menu li{
    padding: 0.8rem;
}
.burger-menu-button{ 
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 1.9rem;
}
.burger-menu-button:hover{
    color: var(--primary-orange);
}
@media (max-width: 990px){
    /* Supprime le fond de l'en-tête sur les écrans de moins de 990px */
    header { 
        background: none;
    }
    /* Cache les liens de navigation sur les petits écrans */
    .nav_link{
        display: none;
    }
    /* Affiche le bouton de menu hamburger et ajuste sa marge */
    .burger-menu-button {
        display: block;
        margin-left: 2rem; 
        margin-bottom: -0.8rem;    
    }
    /* Stylise le logo sur les petits écrans */
    .logo{
        color: #fff;
        font-family: var(--mono-font);
        font-size: var(--fs-h1);
        margin-left: -5.5rem;
    }
    /* Affiche le menu hamburger */
    .burger-menu{
        display: block;
    }
 }

 @media (max-width: 590px){ /* Ajustements spécifiques pour les écrans de moins de 590px */
    .burger-menu{
        left: 1rem;
        width: unset; /* Supprime toute largeur prédéfinie pour permettre un ajustement flexible */
    }
 }

/* ===== Home ===== */
.container{
    max-width: 1140px;
    margin: auto;
    padding-left: 0.9rem;
    padding-right: 0rem;
}
.grid{
    display: grid;
}
.section{
    padding-top: 2rem;
    padding-bottom: 0rem;
    justify-content: center;
}
.section_title{
    font-size: var(--fs-h2);
    line-height: 1;
    font-weight: var(--medium);
    margin-top: 3rem;
    margin-bottom: 1.2rem;
}
.text-lg{
    font-size: var(--fs-lg);
    line-height: 1.6rem;
    color: black;
}
.hello_details{
    text-align: justify;
}
/* ===== Home bannière ===== */
.home{
    background-size: contain;
    padding-top: 5.5rem;
    margin-bottom: 4.5rem;
    position: relative;
}
.home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: var(--primary-blue);
}
.home_container{
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
} 
.home_img, .home_data{
    z-index: 10;
}
.home_img{
    width: 90%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.5rem;
    transform: translateY(3.5rem);
    box-shadow: 0 0 20px white;
    transition: filter 2s ease; /* Durée de la transition à 0.5 seconde */
    filter: grayscale(100%);/* Image en noir et blanc par défaut */
}
.home_img:hover{
    filter: grayscale(0%); /* Restauration des couleurs au survol */
 }
.home_name,
.home_work,
.home_list,
.home_social-link{
    color: #fff;
    font-family: var(--mono-font);
}
.home_name{
    font-size: var(--fs-h1);
    line-height: 1em;
    margin:0 0 0.15em;
}
.home_work{
    margin-top: 2em;
    margin-bottom: 2.5em;
}
.home_list dt{
    float: left;
    font-weight: bold;
    opacity: 0.4;
}
.home_list dd{
    padding-left: 6.3em;
}
.home_list dd:not(:last-child){ /*permet de cibler un élément qui est le dernier enfant de son parent. */
    margin-bottom: 0.95em;
}
.home_socials{
    margin: 2rem 0 2.2rem;
}
.home_social-link{
    font-size: 1.7rem;
    line-height: 1.36em;
    margin-right: 2rem;
    color: var(--primary-orange);
    opacity: 0.5;
    transition: 0.8s;
}
.home_social-link:hover{
    opacity: 1;
}

/* ===== Services ===== */
.services_container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.575rem;
}
.services_item{
    border: 1px solid var(--border-color);
    padding: 2.5rem 1.25rem 1.875rem;
    text-align: center;
}
.icon_box{
    border: 1px solid var(--border-color);
    width: 80px;
    height: 60px;
    border-radius: 10%;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    position: relative;
    display: flex;
}
.services_icon{
    width: 50px;
    margin: auto;
}
.services_dot{
    position: absolute;
    left: -20px;
    top: 0;
    width: 150%;
    height: 100%;
    animation: service-dot 2s linear infinite;
    animation-play-state: paused;
}
.services_item:hover .services_dot{
     animation-play-state: running;
}
@keyframes service-dot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(1turn);
    }
}
.dot{
    width: 13px;
    height: 13px;
    background-color: var(--title-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0.9rem;
}
.services_title{
    margin-bottom: 0.8em;
}

/* ===== Parcours & experiences ===== */
.resume_container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.resume_title,
.skills_title{
    color: var(--primary-orange);
    letter-spacing: 0.4em;
    margin-bottom: 2.8em;
}
.resume_item{
    border-left: 2px solid var(--primary-orange);
    padding-left: 1.6rem;
    position: relative;
}
.resume_item:not(:last-child) {
    padding-bottom: 3rem;
}
.resume_item::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-orange);
    position: absolute;
    left: -0.56rem;
    background-color: var(--bg-color);
}
.resume_subtitle{
    color: var(--primary-blue);
    margin-bottom: 0.36rem;
}
.resume_date {
    color: black;
    margin-bottom: 0.7em;
}
.resume_description {
    text-align: justify;
}
/* ===== Compétences ===== */

.skills_container {
    grid-template-columns: repeat(2, 500px);
    column-gap: 7rem;
}
.skills_list{
    row-gap: 0.625rem ;
}
.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}
.skills_name,
.skills_number{
    font-family: var(--roboto-slab);
    font-size: var(--fs-base);
    color: black;
}
.skills_bar, 
.skills_percentage{
    height: 5px;
    border-radius: 0.25rem;
}
.skills_bar{
    background-color: var(--bg-color-alt);
}
.skills_percentage{
    background-color: var(--primary-orange);
    display: block;
}

/* ===== Contact ===== */
.contact{
    margin-top: 20px;
    background-size: contain;
    background-position: auto;
    position: relative; 
    width: 100%;
    z-index: 100;
    padding: 0px 100px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
}
.contact_content{
    z-index: 10;
    position: relative;
}
.contact_container{
    grid-template-columns: 4fr 5fr 3fr;
    column-gap: 1.875rem;
    padding-top: 1.25rem;
}
.contact .section_title,
.contact_list,
.contact_social-link,
::placeholder,
.contact_input,
.contact_form-title,
.footer_copy{
    color: #fff;
    font-family: var(--mono-font);
}
.contact_socials li{
    margin-bottom: 0.75rem;
    font-family: var(--roboto-font);
}
.contact_social-link{
    font-family: var(--roboto-font) ;
}
.contact_form{
    position: relative;
}
.contact_form-title{
    margin-bottom: 1.25em;
}
.contact_input-div{
    margin-bottom: 0.95em;
}
.contact_input{
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 9px 15px 9px 15px;
}
.textarea{
    height: 7.2rem;
    resize: none;
}
.contact_input:focus{
    box-shadow: inset 0 0 5px 0 #fff;
}
.contact_message{
    position: absolute;
    bottom: 33%;
    left: 0;
    font-family: var(--mono-font);
}
.contact_button {
    width: 100%;
    box-shadow: 0 1px 29px rgb(0 0 0 / 40% );
}
.footer_copy {
    opacity: 0.4;
    margin-top: 1.75rem;
    text-align: center;
}


