/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

/* CSS Variables */
:root{
    --header-height: 3.5rem;

    --primary-orange: #FFA44D;
    --primary-cyan: #00ADEF;
    --primary-color: #4a4a4a;
    --primary-color-alt: #575757;
    --linear-gradient: linear-gradient(
        54deg, 
        rgba(45, 45, 45, 0.95) 34%,
        rgba(45, 45, 45, 0.95) );
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    --border-color: #f1f1f1;

    --roboto-slab: 'Roboto Slab', serif;
    --roboto-mono: 'Roboto Mono', monospace;

    --fs-h1: 2.75rem;
    --fs-h2: 2.75rem;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

/* ===== BASE ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body, button, input, textarea {
    font-family: var(--roboto-slab);
    font-size: var(--fs-base);
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5em;
}
h1, h2, h3 {
    font-family: var(--roboto-mono);
    font-weight: var(--bold);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

button {
    border: solid 1px;
    border-color: rgb(96 96 96 );
    padding: 5px 20px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgb(96 96 96 );
    outline: none;
    color: white;
}
img {
    max-width: 100%;
    height: auto;
}
textarea, input {
    background: none;
    border: none;
    outline: none;
}

/* ===== Menu nav header ===== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav {
    height: calc(var(--header-height) + 0.9rem);
    display: flex;
    align-items: flex-end;
}
.nav_list {
    display: flex;
    column-gap: 3.5rem;
}
.nav_link {
    color: #fff;
    font-size: 0.7rem;
    font-family: var(--roboto-mono);
    font-weight: var(--bold);
    text-transform: uppercase;
    transition: 0.3s;
}
.nav_link:hover {
    color: var(--primary-orange);
    transition: color 0.3s ease;
}
.nav_close, .nav_toggle {
    display: none;
}
.active-link {
    color: var(--primary-cyan);
}

/* ===== Home ===== */
.container {
    max-width: 1140px;
    margin: auto;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.grid {
    display: grid;
}
.section {
    padding-top: 1rem;
    padding-bottom: 3.75rem;
}
.section_title {
    font-size: var(--fs-h2);
    line-height: 1;
    font-weight: var(--medium);
    margin-bottom: 1.2rem;
}
.text-lg {
    font-size: var(--fs-lg);
    line-height: 1.6rem;
}
.hello_details {
    text-align: justify;
}

/* ===== Home bannière ===== */
.home {
    background-size: contain;
    padding-top: 5.5rem;
    margin-bottom: 4.5rem;
    position: relative;
}
.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--linear-gradient);
}
.home_container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}
.home_img {
    width: 90%;
    height: 380px;
    object-fit: cover;
    border-radius: 0.5rem;
    transform: translateY(3.5rem);
    box-shadow: 0 0 20px rgb(96 96 96 );
}
.home_name,
.home_work,
.home_list,
.home_social-link {
    color: #fff;
    font-family: var(--roboto-mono);
}
.home_name {
    font-size: var(--fs-h1);
    line-height: 1.15em;
    margin: 1em 0 0.15em;
}
.home_work {
    margin-bottom: 2.5em;
}
.home_socials {
    margin: 2rem 0 2.2rem;
}
.home_social-link {
    font-size: 1.7rem;
    line-height: 1.36em;
    margin-right: 2rem;
    opacity: 0.4;
}
.home_social-link:hover {
    opacity: 1;
}

/* ===== Services ===== */
.services_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.575rem;
}
.services_item {
    border: 1px solid var(--border-color);
    padding: 2.5rem 1.25rem 1.875rem;
    text-align: center;
}
.icon_box {
    border: 1px solid var(--border-color);
    width: 80px;
    height: 60px;
    border-radius: 10%;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    position: relative;
    display: flex;
}
.services_icon {
    width: 50px;
    margin: auto;
}

/* ===== Parcours & expériences ===== */
.resume_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}
.resume_item {
    border-left: 2px solid var(--primary-orange);
    padding-left: 1.6rem;
    position: relative;
}
.resume_item:not(:last-child) {
    padding-bottom: 3rem;
}
.resume_item::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--primary-orange);
    position: absolute;
    left: -0.56rem;
    background-color: var(--bg-color);
}

.resume_description {
    text-align: justify;
}

/* ===== Compétences ===== */
.skills_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
}
.skills_list {
    row-gap: 0.625rem ;
}
.skills_titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}
.skills_bar, 
.skills_percentage {
    height: 5px;
    border-radius: 0.25rem;
}
.skills_bar {
    background-color: var(--bg-color-alt);
}
.skills_percentage {
    background-color: var(--primary-orange);
    display: block;
}

/* ===== Contact ===== */
.contact {
    margin-top: 20px;
    background-image: url(../img/profil.png);
    background-size: contain;
    background-position: auto;
    position: relative;
}
.contact::before {
    content: '';
    background: var(--linear-gradient);
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
}
.contact_content {
    z-index: 10;
    position: relative;
}
.contact_container {
    grid-template-columns: 4fr 5fr 3fr;
    column-gap: 1.875rem;
    padding-top: 1.25rem;
}
.contact_form-title,
.contact_list,
.contact_input,
.contact_button,
.footer_copy {
    color: #fff;
    font-family: var(--roboto-mono);
}
.contact_input {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 3px;  }